{% extends "app/main.html" %}

{% block title %}experience{% endblock %}

{% block content %}
<h2 style = "text-align: left;"><strong>EXPERIENCE</strong></h2>

<hr style = "height: 5px; background-color: black;"></h2>
<h2 style = "text-align: left;">Key Account Manager</h2>
<h3 style = "text-align: left;">Lauzon</h3>
<div style="display: flex; align-items: center;">
    <div style="display: flex; align-items: center;">
      <span>2016-on</span>
    </div>
    <div style="display: flex; align-items: center; margin-left: 20px;">
      <span>San Francisco, CA</span>
    </div>
  </div>
  <p>Lauzon Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>  
  <li>This is the first item.This is the first item.This is the first item.This is the first item.</li>
  <li>This is the second item.This is the first item.This is the first item.This is the first item.</li>
  <li>This is the third item.This is the first item.This is the first item.This is the first item.</li> 
  
  <h2 style = "text-align: left;">Key Account Manager</h2>
<h3 style = "text-align: left;">Lauzon</h3>
<div style="display: flex; align-items: center;">
    <div style="display: flex; align-items: center;">
      <span>2016-on</span>
    </div>
    <div style="display: flex; align-items: center; margin-left: 20px;">
      <span>San Francisco, CA</span>
    </div>
  </div>
  <p>Lauzon Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>  
  <li>This is the first item.This is the first item.This is the first item.This is the first item.</li>
  <li>This is the second item.This is the first item.This is the first item.This is the first item.</li>
  <li>This is the third item.This is the first item.This is the first item.This is the first item.</li>  
{% endblock %}